* {
  font-size: 12px;
  text-align: center; }

h1 {
  font-size: 20px; }

h2 {
  font-size: 11px;
  font-family: 'Abril Fatface', cursive; }

h4 {
  font-size: 11px;
  font-family: 'Abril Fatface', cursive; }

.article__ecoImg {
  width: 96%;
  max-width: 960px;
  margin: 0 auto; }

.article__ecoImg2 {
  width: 100%;
  height: auto; }

.aside__rSociales {
  list-style-position: outside;
  list-style-type: none; }

.aside__imgRs {
  height: 30px;
  width: 30px;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
  transition: all 1s; }

.aside__imgRs:hover {
  height: 35px;
  width: 35px; }

.aside__imgRs2 {
  height: 35px;
  width: 35px;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
  transition: all 1s; }

.aside__imgRs2:hover {
  height: 40px;
  width: 40px; }

.footer__fondo {
  background: #dadada;
  background-image: linear-gradient(#dadada, white);
  height: 100px; }

.header__fondoNav {
  background: #a1cdfb;
  background-image: linear-gradient(#a1cdfb, white); }

.header__titulo {
  font-family: 'Abril Fatface', cursive;
  color: white;
  -webkit-text-stroke: 1px black; }

.header__titulo2 {
  font-family: 'Abril Fatface', cursive;
  color: black;
  /*-webkit-text-stroke: 1px;*/ }
