* {
    font-size: 12px;
    text-align: center;
}
h1 {
    font-size: 20px;
}
h2{
    font-size: 11px;
    font-family: 'Abril Fatface', cursive;
}
h4{
    font-size: 11px;
    font-family: 'Abril Fatface', cursive;
}