.header__fondoNav{
    background:#a1cdfb;
    background-image: linear-gradient(#a1cdfb, white);
}
.header__titulo{
    font-family: 'Abril Fatface', cursive;
    color: white;
    -webkit-text-stroke: 1px black;
}
.header__titulo2{
    font-family: 'Abril Fatface', cursive;
    color: black;
    /*-webkit-text-stroke: 1px;*/
}